name: Lint(Go)

on:
  workflow_call:
    # For now, inputs supports only three types: 'boolean', 'number' or 'string'.
    # workaround: https://github.community/t/reusable-workflow-with-strategy-matrix/205676/2
    inputs:
      os-versions:
        description: 'Stringfied JSON object listing GitHub-hosted runnners'
        default: '["ubuntu-22.04", "macos-14", "windows-2025"]'
        required: false
        type: string
      skip-cache:
        description: 'All caching is disabled'
        default: false
        required: false
        type: boolean

jobs:
  lint:
    strategy:
      matrix:
        os-version: ${{ fromJson(inputs.os-versions) }}
    runs-on: ${{ matrix.os-version }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
        cache: true
        check-latest: true
    - uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
      with:
        version: latest
        skip-cache: ${{ inputs.skip-cache }}
        args: --timeout=5m
    - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      # If the path pattern does not match any files, this returns an empty string.
      if: ${{ hashFiles('.goreleaser.yml') != '' }}
      with:
        args: check

