name: Test(Go)

on:
  workflow_call:
    # For now, inputs supports only three types: 'boolean', 'number' or 'string'.
    # workaround: https://github.community/t/reusable-workflow-with-strategy-matrix/205676/2
    inputs:
      os-versions:
        description: 'Stringfied JSON object listing GitHub-hosted runnners'
        default: '["ubuntu-22.04", "macos-14", "windows-2025"]'
        required: false
        type: string
      go-versions:
        description: 'Stringfied JSON object listing target Go versions'
        default: '["1.25.x", "1.24.x"]'
        required: false
        type: string
      pre:
        description: 'The commands to run in bash'
        default: ''
        required: false
        type: string

jobs:
  test:
    strategy:
      matrix:
        os-version: ${{ fromJson(inputs.os-versions) }}
        go-version: ${{ fromJson(inputs.go-versions) }}
    runs-on: ${{ matrix.os-version }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
        check-latest: true
    - run: ${{ inputs.pre }}
      shell: bash
    - run: go test -race ./...
      shell: bash
