name: Release(goreleaser)

on:
  workflow_call:
    inputs:
      go-version:
        default: '1.25'
        required: false
        type: string

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ inputs.go-version }}
        cache: true
        check-latest: true
    - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ github.token }}
