name: Run(Go)
run-name: Run ${{ inputs.run }}

on:
  workflow_call:
    # For now, inputs supports only three types: 'boolean', 'number' or 'string'.
    # workaround: https://github.community/t/reusable-workflow-with-strategy-matrix/205676/2
    inputs:
      os-versions:
        description: 'Stringfied JSON object listing GitHub-hosted runnners'
        default: '["ubuntu-22.04", "macos-14", "windows-2025"]'
        required: false
        type: string
      go-versions:
        description: 'Stringfied JSON object listing target Go versions'
        default: '["1.25.x", "1.24.x"]'
        required: false
        type: string
      run:
        description: 'The commands to run in bash'
        required: true
        type: string

jobs:
  run:
    strategy:
      matrix:
        os-version: ${{ fromJson(inputs.os-versions) }}
        go-version: ${{ fromJson(inputs.go-versions) }}
    runs-on: ${{ matrix.os-version }}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
        check-latest: true
    - run: ${{ inputs.run }}
      shell: bash
